input {
    float: left;
    font-weight: 600;
    border: 0px;
    outline: 0px !important;
    margin: 10px 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}