.main {
    display:flex;
    justify-content:space-evenly;
}

.screen-container  {
    border-radius: 15px;
    padding: 10px 20px;
    position: relative;
    margin-left: -40px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  }
@media screen and (max-width:786px) {
    .screen-container {
        width: 90%;
        overflow-y: scroll;
        padding:10px 0px;
       margin-left: 20px;
    
    }
}