.header {
  
    height: 60px;
    color: white;
    position: relative;
    text-align: center;
}
.header-contain {
    margin-top: 7px;
}
.toggle {
    border-radius: 15px;
    color: black;
    position: absolute;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    right: 10px;
    z-index: 12;
    top: 50px;
    padding: 4px 7px;
    width: auto;
    width: 100px;
    padding: 0px;
    text-align: left;
}
.header img {
    height: 200px;
}
.toggle ul {
    padding: 5px;
    text-align: center;
    z-index: 4;
}
.toggle ul li {
    font-size: 17px;
    margin: 10px 0px;
}
.toggle ul li:hover {
    cursor: pointer;
    color: rgb(122, 24, 24);
}
.toggle ul li .nav-profile-link {
    text-decoration: none;
    color: black;
}
.toggle ul li .nav-profile-link:hover {
    color: rgb(58, 17, 17);
}
.menuBar {
    box-shadow: 0px 0px 20px 0px rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    background: whitesmoke;
    color: black;
    max-width: 200px;
    top: 61px;
    min-height: 130px;
    right: 5px;
    z-index:3;
    text-align: center;
    ul {
        list-style-type: none;
        margin-left: -35px;
        li {
            text-align: center;
            margin: 5px 0px;
            cursor: pointer;
            padding: 6px 10px;
            &:hover {
                background: #dad1d1;
            }
            .menu-icon {
                float: left;
                color: rgb(71, 85, 193);
                margin: 0px 8px;
            }
        }
    }
}
.profile-container {
    .profile-block {
        margin: 8px 9px;
        cursor: pointer;
        img {
            width: 50px;
            border-radius: 100%;
            height: 40px;
        }
        span {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px 6px;
            font-size: 16px;
            color: black;
        }
    }
}
@media screen and (max-width: 786px) {
    .header {
      padding: 0px;
     width: 100% ;
 overflow: hidden;
        .profile-container {
            
            .profile-block {
                margin-right: 24px;
                min-width:200px;
            }
        }
      
    }
    .menuBar {
        top: 0px;
        right: 15px;
        width: 250px;
    }
    .toggle {
        background: white;
    
        display: none;
    }
}
