.auth {
    display: flex;
    height: 100vh;
    padding-top: 50px;
    background: aliceblue;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden !important;
}
@media screen and (max-width: 786px) {
    .auth {
        position: fixed;
        top: 0px;
        padding: 0px !important;
        margin: 0px !important;
    }
}
