#menu-bar {
    margin: 0px 7px;
  position: relative;
  display: none;
    #first-line {
        width: 30px;
        background:  rgb(49, 48, 48);
        height: 5px;
        margin: 4px 0px;
    }
    #middle-line {
        
        background:  black;
        width: 20px;
        height: 5px;
        margin: 4px 0px;
    }
    #botton-line {
        background:  black;
        width: 30px;
        height: 5px;
    }
    
    .close-sidebar {
        font-size: 2.5rem;
        position: absolute;
        display: block;
        opacity: 0;
        color: whitesmoke;
        top: -5px;
        cursor: pointer;
        background: black;
        padding: 2px 12px;
       left: 290px;
    }
}

.sidebar-container {
     background: rgb(15, 10, 11);
    height: 100vh;
    width: 250px;
    color: white;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    text-align: left;
    z-index: 4;
    list-style-type: none;
    left: 0px;
    transition: all 0.25s ease-in-out;
    top: 0px;

    // &:hover {
    //     left: -250px;
    // }
    .divider {
        width: 100%;
        border: 1px solid rgb(156, 156, 156);
        margin-top: 10px;
    }
    .profile {
        margin-top: 8px;
        display: flex;
        height: 60px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        img {
            max-width: 180px;
            height: 100%;
           padding: 0px;
        }
        h3 {
            font-size: 21px;
            margin-top: 5px;
        }
    }
    .sidebar-list-item {
        padding: 20px 0px;
        height: 70%;
        .nav-list {
            margin: 7px 0px;
            list-style-type: none;
            padding: 5px 0px;
            transition: all ease-in-out;
            cursor: pointer;

            &:hover {
                color: green;
            }

            .nav-link {
                text-decoration: none;
            }
        }
    }
    .logout {
        position: absolute;
        bottom: 20px;
        text-align: center;
        left: 50px;
    }
}
@media screen and (max-width:595px) {
    .sidebar-container {
        left: -350px;
        position: fixed;
        overflow-x: hidden;
        width: 300px;
        min-height:100%;

        .profile {
            height: 40px;
            img {
                height: 40px;
            }
        }
    }   
    .show-sidebar-container {
        left: 0px;
        position: fixed;
    }
    .logout {
        bottom: 20px;
        text-align: center;
        left: 70px !important;
    }
    #menu-bar {
        top: -55px;
        display: block;
        .close-sidebar {           
            opacity: 1;
        }
    }
    
  
}