.sidebar-container {
    position: fixed;
    top: 0px;

    background: rgb(27, 93, 155);
.list-container {
    height: 100%;
    position: relative;
    .toggle-list {
        position: absolute;
        bottom: 10px;
    left: 30%;
       
     }
}
    
}