.sidebar-container {
    position: fixed;
    overflow-y: scroll;
    top: 0px;
    background: rgb(104 129 167);
.sidebar-logo {
    height: 60px;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
    }
}  
    .list-container {
        height: 100%;
        position: relative;

        .toggle-list {
            position: absolute;
            bottom: 30px;
            left: 30%;
        }
    }
}
//rgb(26 37 101 / 62%

@media screen and (max-width: 786px) {
    .sidebar-container {
        overflow-y: scroll;
        .list-container {
            .toggle-list {
                bottom: 70px;
            }
        }
        .close-icon {
            color: white;
            margin-top: 7px;
            float:right;
        }
    }
}
