
.auth-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 0px;
    
    width: 100%;
    margin-bottom: -40px;
}
.logo img {
    width: 80%;
    height: 140px;
}

@media screen and (max-width: 786px) {
    .auth {
        align-items: flex-start;
    }
}
