.auth-contain {
    border-radius: 10px;
    max-width: 400px;
    margin-top: 20px;
    min-width: 300px;
    background: white;
    color: black;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    margin-bottom: -40px;
}

.logo img {
    width: 80%;
    height: 140px;
}

@media screen and (max-width: 786px) {
    .auth {
        align-items: flex-start;
    }
}